@model List<aep_project_1.Models.SCORECARD_FACT>
@{
    ViewBag.Title = "CULTURE";
}
 <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-green">
            <div class="panel-body">
                <i class="fa fa-bar-chart-o fa-5x"></i>
                <h3>6,450</h3>
            </div>
            <div class="panel-footer back-footer-green">
                DAILY VISITS

            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-blue">
            <div class="panel-body">
                <i class="fa fa-shopping-cart fa-5x"></i>
                <h3>65,565</h3>
            </div>
            <div class="panel-footer back-footer-blue">
                SALES

            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-red">
            <div class="panel-body">
                <i class="fa fa fa-comments fa-5x"></i>
                <h3>11,000 </h3>
            </div>
            <div class="panel-footer back-footer-red">
                COMMENTS

            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-brown">
            <div class="panel-body">
                <i class="fa fa-users fa-5x"></i>
                <h3>25,000 </h3>
            </div>
            <div class="panel-footer back-footer-brown">
                NO. OF VISITS

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>120</h3>

                <p>POWER UP</p>
            </div>
            <div class="icon">
                <i class="fa fa-bolt fa-6"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>40<sup style="font-size: 20px"></sup></h3>

                <p>LEAD COMPLETION</p>
            </div>
            <div class="icon">
                <i class="fa fa-handshake-o fa-6"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>35</h3>

                <p>CULTURE CHAMPIONS</p>
            </div>
            <div class="icon">
                <i class="fa fa-trophy fa-6"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>65</h3>

                <p>ERG PARTICIPANTS</p>
            </div>
            <div class="icon">
                <i class="fa fa-users fa-6"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
</div>
<h1 class="page-header"</h1>CONGRATULATION BOARD</p>
<div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-red">
        <h3 class="widget-user-username">MONICA GORDON</h3>
        <h5 class="widget-user-desc">BUSINESS ANALYST</h5>
        <img class=" img-cicle" src="MONICA GORDON.jpg" alt="Downloads" />
    </div>
   
    <div class="box-footer">
        <div class="row">
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">15</h5>
                    <span class="description-text">PROJECTS</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">30</h5>
                    <span class="description-text">TASKS</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
                <div class="description-block">
                    <h5 class="description-header">5,000</h5>
                    <span class="description-text">FOLLOWERS</span>
                </div>
                    <!-- /.description-block -->
                </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</div>