
@{
    ViewBag.Title = "CULTURE";
}


<div class="row">
    
    <!-- ./col -->
    <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>40<sup style="font-size: 20px"></sup></h3>

                <p>POWER UP &amp; LEAD COMPLETION</p>
            </div>
            <div class="icon">
                <i class="fa fa-handshake-o fa-6"></i>
            </div>
           
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>35</h3>

                <p>CULTURE CHAMPIONS</p>
            </div>
            <div class="icon">
                <i class="fa fa-trophy fa-6"></i>
            </div>
            
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>65</h3>

                <p>ERG PARTICIPANTS</p>
            </div>
            <div class="icon">
                <i class="fa fa-users fa-6"></i>
            </div>
           
        </div>
    </div>
    <!-- ./col -->
</div>


<div class="row">
    <div class="col-md-6">
        <h1 class="page-header"> CONGRATULATION BOARD</h1>
        <div class="box box-widget widget-user">
          <div class="col-md-6">
              <div class="widget-user-header bg-red">
                  <h5 class="widget-user-desc">Recognizee</h5>
                  <h3 class="widget-user-username">Boby A.</h3>
                  <h5 class="widget-user-desc">BUSINESS ANALYST</h5>
              </div>
            </div>
            <div class="col-md-6">
                <div class="widget-user-header bg-red">
                    <h5 class="widget-user-desc">Recognizer</h5>
                    <h3 class="widget-user-username">Jimmy D.</h3>
                    <h5 class="widget-user-desc">BUSINESS ANALYST</h5>
                </div>
            </div>

            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">

                            <span class="description-text">ack of the net to be inspired is to become creative, innovative and energized we want this philosophy to trickle down to all our stakeholders for if you want to motivate these clowns, try less carrot </span>
                        </div>
                        <!-- /.description-block -->
                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
   



<div class="row">
    <div class="col-md-6">
        <h1 class="page-header"> GOOD CATCH</h1>
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="col-md-6">
                <div class="widget-user-header bg-red">
                    <h5 class="widget-user-desc">Recognizee</h5>
                    <h3 class="widget-user-username">Boby A.</h3>
                    <h5 class="widget-user-desc">BUSINESS ANALYST</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget-user-header bg-red">
                    <h5 class="widget-user-desc"> </h5>
                    <h3 class="widget-user-username">Good Catch #</h3>
                    <h5 class="widget-user-desc">152</h5>
                </div>
            </div>

            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">

                            <span class="description-text">ack of the net to be inspired is to become creative, innovative and energized we want this philosophy to trickle down to all our stakeholders for if you want to motivate these clowns, try less carrot </span>
                        </div>
                        <!-- /.description-block -->
                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
    </div>
  