
@{
    ViewBag.Title = "Improvements";
}

<h2>Improvements</h2>

<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Continuous Improvement Ideas Open</span>
                    <span class="info-box-number">34</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Continuous Improvement Ideas Implemented (%)</span>
                    <span class="info-box-number">67%</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</center>

<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Continuous Improvement Ideas Over Budget</span>
                    <span class="info-box-number">2</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Continuous Improvement Ideas Under Budget</span>
                    <span class="info-box-number">6</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</center>

<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Continuous Improvement Ideas On Budget</span>
                    <span class="info-box-number">26</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>

    </div>
</center>