@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Home Page";
}

<center>
    <div class="row">

        <div class="col-sm-6">
            <div id="myCarousel" class="carousel slide imgSize" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators imgSize">
                    <li data-target="#myCarousel" data-slide-to="0" class="active imgSize"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner imgSize">
                    <div class="item active imgSize">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ54h2GDiqYynOF-7IV_k9HntC7qKMH30u1KcYkZDhukVdb4W2MjA" width="100%" height="100%" alt="Los Angeles">
                    </div>

                    <div class="item imgSize">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVtLKXKNlPtj0vP6FXiV8PAfg_bY2-PEnkrfTTrOlpRNWKNNQSVg" width="100%" height="100%" alt="Chicago">
                    </div>

                    <div class="item imgSize">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyZt7Mxs-DJiPhD_6bSuAP4LdLpMb0QU6Hk6uewvQxsdY8eJ5Ytg" width="100%" height="100%" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="myCarousel1" class="carousel slide imgSize" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators imgSize">
                    <li data-target="#myCarousel" data-slide-to="0" class="active imgSize"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner imgSize">
                    <div class="item active imgSize">
                        <img src="~/Content/img/BD1.png" width="100%" height="100%" alt="Los Angeles">
                    </div>

                    <div class="item imgSize">
                        <img src="~/Content/img/BD2.png" width="100%" height="100%" alt="Chicago">
                    </div>

                    <div class="item imgSize">
                        <img src="~/Content/img/HA1.png" width="100%" height="100%" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</center>
<br />
<br/>
<br />



<center>
    <div class="row">


        <div class="col-sm-6">
            <table id="example" class="table table-striped table-bordered table-responsive imgSize" cellspacing="0" width="100% ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                       
                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                       
                        
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                       
                        
                    </tr>
                    </tbody>
                </table>
            
        </div>
        <div class="col-sm-6">
            <div id="myCarousel2" class="carousel slide imgSize" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators imgSize">
                    <li data-target="#myCarousel" data-slide-to="0" class="active imgSize"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner imgSize">
                    <div class="item active imgSize">
                        <div class="box-body">
                            <dl>
                                <dt>Description lists</dt>
                                <dd>A description list is perfect for defining terms.</dd>
                                <dt>Euismod</dt>
                                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                <dt>Malesuada porta</dt>
                                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="item imgSize">
                        <div class="box-body">
                            <dl>
                                <dt>Description lists</dt>
                                <dd>A description list is perfect for defining terms.</dd>
                                <dt>Euismod</dt>
                                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                <dt>Malesuada porta</dt>
                                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="item imgSize">
                        <div class="box-body">
                            <dl>
                                <dt>Description lists</dt>
                                <dd>A description list is perfect for defining terms.</dd>
                                <dt>Euismod</dt>
                                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                <dt>Malesuada porta</dt>
                                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</center>