
@{
    ViewBag.Title = "OMetrics";
}

<h2>Operation Metrics</h2>

<center>
<div class="row">
    <div class="col-sm-6"><div class="info-box ">
    <span class="info-box-icon bg-red"><i class="fa fa-volume-control-phone"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Cisco EOL % Complete</span>
        <span class="info-box-number">80%</span>
    </div>
    <!-- /.info-box-content -->
</div></div>
    <div class="col-sm-6"><div class="info-box">
    <span class="info-box-icon bg-red"><i class="fa fa-volume-control-phone"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">SCADA Transport Upgrade % Complete</span>
        <span class="info-box-number">76%</span>
    </div>
    <!-- /.info-box-content -->
</div></div>
   
</div>

<div class="row">
    <div class="col-sm-6"><div class="info-box">
    <span class="info-box-icon bg-red"><i class="fa  fa-headphones"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Service Desk Average Speed Of Answer</span>
        <span class="info-box-number">1:12</span>
    </div>
    <!-- /.info-box-content -->
</div></div>
    <div class="col-sm-6"><div class="info-box">
    <span class="info-box-icon bg-red"><i class="fa  fa-ticket"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">% Change In Ticket Backlog</span>
        <span class="info-box-number">12%</span>
    </div>
    <!-- /.info-box-content -->
</div></div>
</div>

    <div class="row">
        <div class="col-sm-6"><div class="info-box">
    <span class="info-box-icon bg-red"><i class="fa  fa-exchange"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Cross Training %</span>
        <span class="info-box-number">57%</span>
    </div>
    <!-- /.info-box-content -->
</div></div>
        <div class="col-sm-6"><div class="info-box">
    <span class="info-box-icon bg-red"><i class="fa Example of graduation-cap fa-graduation-cap"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Reported Training Hours</span>
        <span class="info-box-number">1,410</span>
    </div>
    <!-- /.info-box-content -->
</div></div>
    </div>

</center>
