@model List<aep_project_1.Models.SCORECARD_FACT>
@{
    ViewBag.Title = "Other";
}

<div class="col-sm-6">
    <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">317 HOURS</span>
            <span class="info-box-number">
            @{
                
                var item = Model.Find(x => x.MEASURE_ID == 11);
             <b>@item.MEASURE_VALUE%</b>
            }
            
            </span>
        </div>
        @*<div class="info-box-content">
            <span class="info-box-text">317 HOURS</span>
            <span class="info-box-number">
                @{
                    var item = Model.Find(x => x.MEASURE_ID == 11);
                    <b>@item.MEASURE_VALUE</b>
                }

            </span>
        </div>*@

        <!-- /.info-box-content -->
    </div>
</div>
<div>
    
    
    @*@foreach (var item in Model)
            {
        @item.LAST_UPDT_DTTM
        where @item.MEASURE_ID == 8;
                
    }*@
    @*var col from LAST_UPDT_DTTM in SCORECARD_FACT
    where MEASURE_ID == 8
    SELECT LAST_UPDT_DTTM*@
    public static bool CheckForInternetConnection()
    {
    try
    {
    using (var client = new WebClient())
    {
    using (client.OpenRead("http://clients3.google.com/generate_204"))
    {
    return true;
    }
    }
    }
    catch
    {
    return false;
    }
    }
      </div>