
@{
    ViewBag.Title = "Other";
}





<center>
    <div class="box box-default collapsed-box bg-red-gradient">
        <div class="box-header with-border">
            <h3 class="box-title">Expandable</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div id="myCarousel1" class="carousel slide " data-ride="carousel" data-interval="1000">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner ">
                    <div class="item active active ">
                        <div class="info-box bg-red">
                            <div class="info-box-content">
                                <!-- TradingView Widget BEGIN -->
                                <div id="tv-medium-widget-520e5"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                <script type="text/javascript">
                                    new TradingView.MediumWidget({
                                        "container_id": "tv-medium-widget-520e5",
                                        "symbols": [
                                            [
                                                "Apple",
                                                "AAPL "
                                            ]
                                        ],
                                        "gridLineColor": "#e9e9ea",
                                        "fontColor": "#83888D",
                                        "underLineColor": "#dbeffb",
                                        "trendLineColor": "#4bafe9",
                                        "width": "1000px",
                                        "height": "400px",
                                        "locale": "en"
                                    });
                                </script>
                                <!-- TradingView Widget END -->

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>

                    <div class="item ">
                        <div class="info-box bg-red">
                            <div class="info-box-content">
                                <!-- TradingView Widget BEGIN -->
                                <div id="tv-medium-widget-43fca"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                <script type="text/javascript">
                                    new TradingView.MediumWidget({
                                        "container_id": "tv-medium-widget-43fca",
                                        "symbols": [
                                            "NYSE:AEP|1y"
                                        ],
                                        "gridLineColor": "#e9e9ea",
                                        "fontColor": "#83888D",
                                        "underLineColor": "#dbeffb",
                                        "trendLineColor": "#4bafe9",
                                        "width": "1000px",
                                        "height": "400px",
                                        "locale": "en"
                                    });
                                </script>
                                <!-- TradingView Widget END -->

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>

                    <div class="item ">
                        <div class="info-box bg-red">
                            <div class="info-box-content">
                                <!-- TradingView Widget BEGIN -->
                                <div id="tv-medium-widget-3da85"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                <script type="text/javascript">
                                    new TradingView.MediumWidget({
                                        "container_id": "tv-medium-widget-3da85",
                                        "symbols": [
                                            "NASDAQ:MSFT|max"
                                        ],
                                        "gridLineColor": "#e9e9ea",
                                        "fontColor": "#83888D",
                                        "underLineColor": "#dbeffb",
                                        "trendLineColor": "#4bafe9",
                                        "width": "1000px",
                                        "height": "400px",
                                        "locale": "en"
                                    });
                                </script>
                                <!-- TradingView Widget END -->

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>


</center>
<center>
    <div class="box box-default collapsed-box bg-blue-gradient">
        <div class="box-header with-border">
            <h3 class="box-title">Expandable</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="myCarousel2" class="carousel slide " data-ride="carousel" data-interval="2000">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner ">
                    <div class="item active active ">
                        <div class="info-box bg-blue">
                            <div class="info-box-content">
                                <font size="12">This is some text-1!</font> <br />
                                <font size="12">This is some text-1!</font>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>

                    <div class="item ">
                        <div class="info-box bg-blue">
                            <div class="info-box-content">
                                <font size="12">This is some text-2!</font> <br />
                                <font size="12">This is some text-2!</font>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>

                    <div class="item ">
                        <div class="info-box bg-blue">
                            <div class="info-box-content">
                                <font size="12">This is some text-3!</font> <br />
                                <font size="12">This is some text-3!</font>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="row">
        <div class="col-sm6">

        </div>
    </div>
</center>
<center>
    <div class="box box-default collapsed-box bg-green-gradient">
        <div class="box-header with-border">
            <h3 class="box-title">Expandable</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="display: none;">
            <div id="myCarousel3" class="carousel slide " data-ride="carousel" data-interval="3000">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner ">
                    <div class="item active active ">
                        <div class="info-box bg-green">
                            <div class="info-box-content">
                                <img width="854" height="480" src="https://camo.githubusercontent.com/e29d8d3316203700965cc6cc56e67b779f2845bb/68747470733a2f2f7261772e6769746875622e636f6d2f5068696c4a61792f4d5043686172742f6d61737465722f73637265656e73686f74732f636f6d62696e65645f63686172742e706e67" />
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>

                    <div class="item ">
                        <div class="info-box bg-green">
                            <div class="info-box-content">
                                <img width="854" height="480" src="http://django-nvd3.readthedocs.io/en/latest/_images/multiBarChart.png" />
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>

                    <div class="item ">
                        <div class="info-box bg-green">
                            <div class="info-box-content">
                                <img width="854" height="480" src="https://www.amcharts.com/wp-content/uploads/2014/03/demo_4074_light.jpg" />
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel3" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel3" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

</center>
<center>
    <div class="box box-default collapsed-box bg-black-gradient">
        <div class="box-header with-border">
            <h3 class="box-title">Expandable</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="display: none;">
            <div id="myCarousel4" class="carousel slide " data-ride="carousel" data-interval="4000">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner ">
                    <div class="item active active ">
                        <div class="info-box bg-black">
                            <div class="info-box-content">
                                <iframe width="854" height="480" src="https://www.youtube.com/embed/pizi0laxl5o" frameborder="0" loop="1" autoplay="1" allowfullscreen></iframe>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>

                    <div class="item ">
                        <div class="info-box bg-black">
                            <div class="info-box-content">
                                <iframe width="854" height="480" src="https://www.youtube.com/embed/W1waBGdAvkk" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>

                    <div class="item ">
                        <div class="info-box bg-black">
                            <div class="info-box-content">
                                <iframe width="854" height="480" src="https://www.youtube.com/embed/iyC2WzHUkWU" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel4" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel4" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="row">
        <div class="col-sm6">

        </div>
    </div>
</center>
<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-default collapsed-box bg-aqua">
                <div class="box-header with-border">
                    <h3 class="box-title">Expandable</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                   <iframe src="https://www.random.org/widgets/integers/iframe.php?title=True+Random+Integer+Generator&amp;buttontxt=Generate&amp;width=160&amp;height=200&amp;border=on&amp;bgcolor=%23FFFFFF&amp;txtcolor=%23777777&amp;altbgcolor=%23CCCCFF&amp;alttxtcolor=%23000000&amp;defaultmin=&amp;defaultmax=&amp;fixed=off" frameborder="0" width="160" height="200" scrolling="no" longdesc="https://www.random.org/integers/">
The numbers generated by this widget come from RANDOM.ORG's true random number generator.
</iframe>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box box-default collapsed-box bg-aqua">
                <div class="box-header with-border">
                    <h3 class="box-title">Expandable</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--OST Widget code start-->
                    <iframe src="http://openspeedtest.com/ost-self-hosted.php" width="735" scrolling="no" height="490" frameborder="0"></iframe><br />
                    <div style="text-align:center; width: 725px;"><a href="http://openspeedtest.com?ref=widget">Powered by openspeedtest.com</a></div>
                    <!-- OST Widget code end -->


                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</center>




<iframe width="100%" height="600px" frameborder="0" src="http://icstarsaep.speedtestcustom.com"></iframe>


