@model IEnumerable<aep_project_1.Models.SCORECARD_FACT>
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>




<center>
    <div class="row">
        <div class="col-sm-12">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>130</h3>

                    <p>Active Projects</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Projects On Budget</span>
                    <span class="info-box-number">95%</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-clipboard"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Projects On Schedule</span>
                    <span class="info-box-number">89%</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa  fa-handshake-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Closed Projects Business Partner Satisfaction (%)</span>
                    <span class="info-box-number">87%</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-smile-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Closed Project Budget (%)</span>
                    <span class="info-box-number">93%</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</center>