@model List<aep_project_1.Models.SCORECARD_FACT>
@{
    ViewBag.Title = "SMetrics";
}

<h2>Safety Metrics</h2>

<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-stethoscope"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Injuries & Illnesses </span>
                    <span class="info-box-number">5
                    @{

                        var SMa = Model.Find(x => x.MEASURE_ID == 8);
                        <b>@SMa.MEASURE_VALUE</b>
                    }
                    
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Days Aways, Restrictions or Transfers</span>
                    <span class="info-box-number">1</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</center>

<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa  fa-clock-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Hours Worked</span>
                    <span class="info-box-number">46,000</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
            <div class="col-sm-6">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa  fa-clock-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Hours Worked</span>
                        <span class="info-box-number">46,000</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
        </div>
</center>

<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Injury & Illness Rate</span>
                    <span class="info-box-number">21.74</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">D.A.R.T Rate</span>
                    <span class="info-box-number">4.35</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</center>