
@{
    ViewBag.Title = "SMetrics";
}

<h2>Safety Metrics</h2>

<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>87%</h3>

                    <p>Critical Incidents Response Metric Hit (%)</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Reported</span>
                    <span class="info-box-number">154</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>35%</h3>

                    <p>Critical Incidents Resolved Metric Hit (%)</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Reported</span>
                    <span class="info-box-number">154</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>56%</h3>

                    <p>High Incidents Response Metric Hit (%)</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Reported</span>
                    <span class="info-box-number">254</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>75%</h3>

                    <p>High Incidents Resolved Metric Hit (%)</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Reported</span>
                    <span class="info-box-number">254</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</center>