<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        <img src="~/Content/img/AEPReverse_Logo_1x.png" alt="AEP logo" height="50" />

        <span class="logo-mini"></span>
        @* Logo for regular state and mobile devices *@

    </a>
    @* END Logo *@
    @* BEGIN Header *@
    
           <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            
            <ul class="nav navbar-nav">
                
                
              
               
            </ul>
        </div>
    </nav>
</header>