<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"></span>
        @* Logo for regular state and mobile devices *@
         
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    
           <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <div style="width: 260px;"><iframe style="display: block;" src="//cdnres.willyweather.com/widget/loadView.html?id=72726" width="260" height="63" frameborder="0" scrolling="no"></iframe><a style="text-indent: -9999em;width: 20px;display: block;margin: -63px 0 0 0;height: 63px;z-index: 1;float: right;position: relative" href="http://www.willyweather.com/oh/franklin-county/columbus.html" rel="nofollow">weather for Columbus</a></div>

            <ul class="nav navbar-nav">
                
                
              
               
            </ul>
        </div>
    </nav>
</header>