<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        <img src="~/Content/img/AEP_logo_white.png" height="45" />
        @*<img style="border:10px solid black;" src="http://www.html.am/images/image-codes/milford_sound_t.jpg" width="225" height="151" alt="Photo of Milford Sound in New Zealand" />*@
@*style="border:1px solid white;"*@
        <span class="logo-mini"></span>
        @* Logo for regular state and mobile devices *@

    </a>
    @* END Logo *@
    @* BEGIN Header *@
    
           <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            
            <ul class="nav navbar-nav">
                
                
              
               
            </ul>
        </div>
    </nav>
</header>